<ng-container *transloco="let t">
  <div
    soho-busyindicator
    [activated]="isBusy"
    [blockUI]="true"
    [displayDelay]="0"
  >
    <form class="form-responsive">
      <div class="row">
        <div class="twelve columns">
          <!-- Name -->
          <div>
            <div>
              <label for="name">{{ t("monitorName") }}</label>
            </div>
            <input
              id="name"
              name="name"
              [(ngModel)]="monitorGroup.name"
              [readonly]="action == 2"
            />
          </div>
        </div>
      </div>

      <div class="action-button-group">
        <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        <button
          *ngIf="action == 0"
          class="btn btn-primary"
          [disabled]="monitorGroup.name.length == 0"
          (click)="onAdd()"
        >
          {{ t("monitorAdd") }}
        </button>
        <button *ngIf="action == 1" class="btn btn-primary" (click)="onEdit()">
          Save
        </button>
        <button
          *ngIf="action == 2"
          class="btn btn-primary"
          (click)="onDelete()"
        >
          {{ t("monitorDelete") }}
        </button>
      </div>
    </form>
  </div>
</ng-container>
