<div
  class="demo-dialog"
  soho-busyindicator
  [activated]="isBusy"
  [blockUI]="true"
  [displayDelay]="0"
>
  <div class="padding-xl scrollable scrollable-flex">
    <m3-bookmark-panel
      #detailPanel
      [isSort]="false"
      [isEditable]="true"
      [isUsedInDialog]="true"
      [bookmark]="bookmark"
      ngDefaultControl
      (bookmarkLoaded)="showBusyindicator(false)"
    >
    </m3-bookmark-panel>
  </div>

  <div
    *ngIf="!isBusy"
    class="padding-xl-b padding-xl-l padding-xl-r float-left"
  >
    <!-- Cancel button -->
    <div class="padding-md-l padding-xl-r float-left">
      <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </div>
    <!-- Save button -->
    <div class="padding-md-l padding-xl-r float-left">
      <button class="btn btn-primary" (click)="onSave()">Save</button>
    </div>
  </div>
</div>
