.max-width-300 {
  max-width: 250px;
}

.float-left {
  float: left;
  margin-right: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.padding-top-20 {
  padding-top: 20px;
}

.limit-width {
  max-width: 208px;
}

.datepicker {
  width: 150px;
}
